/* .progress-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  width: 600px;
}

.progress-display {
  font-weight:bolder;
  color: #23104d;
}


.reset-button {
  padding: 8px 16px;
  background-color: #3b79e4;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.reset-button:hover {
  background-color: #ee3737;
} */
