/* App.css */
body {
  margin: 0;
  font-family: sans-serif;
  background: #f9f9f9;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  background-color: #2c3e50;
  color: white;
  padding: 0.5rem;
  text-align: center;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
}

.video-container {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.progress-display {
  margin-top: 1rem;
  font-weight: bolder;
  font-size: xx-large;
  color: #2c3e50;
}

.footer {
  background-color: #ecf0f1;
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
}


.progress-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-right: 1rem;
  width: 600px;
}

.progress-display {
  font-weight:bolder;
  color: #23104d;
}


.reset-button {
  padding: 8px 16px;
  background-color: #3b79e4;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 2rem;
}

.reset-button:hover {
  background-color: #ee3737;
}

